[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tox = "*"
flask = "*"
pymongo = "*"
flask-cors = "*"
flask-sslify = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.7"
